<div class="container custom-container-2" style="margin-top: 70px;">
        <!--list table, it hides when there is no todo -->
    <div>
        <h3 class="mb-3 text-center">Todo details</h3>
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of todo">
                    <td>{{item.id}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.status}}</td>
                    <td>
                        <button class="btn btn-primary" style="margin: 5px;">Update</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <button class='btn btn-outline-secondary' (click)='onBack()' style="float: right;">
                <i class='fa fa-chevron-left'></i> Back
            </button>
        </div>
        
    </div>

    
</div>
    
